/docker/db/data
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> friendsofphp/php-cs-fixer ###
/.php-cs-fixer.php
/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

/api/src/Data/test.csv
/api/src/Data/valeurs-2018.csv
/api/src/Data/valeurs-2019.csv
/api/src/Data/valeursfoncieres-2018.txt
/api/src/Data/valeursfoncieres-2019.txt
/api/src/Data/valeursfoncieres-2020.txt
/api/src/Data/valeursfoncieres-2021.txts
